<div class="container">
  <div class="row">
    <div class="headingTitles mx-auto">
      <h1>Add A New Cohort
      </h1>
    </div>
  </div>

  <%= form_for @cohort do |f| %>

  <div class="row">
    <div class="col-lg-6 mx-auto py-1">
      <%= f.label :name %>
      <%= f.text_field :name, class:'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mx-auto py-1">
      <%= f.label :start_date%>
      <%= f.text_field :start_date, class:'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mx-auto py-1">
      <%= f.label :end_date %>
      <%= f.text_field :end_date, class:'form-control' %>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-lg-12 py-1 text-center">
      <%= f.label :instructor_id, 'Instructor' %>
      <%= f.select :instructor_id, options_for_select(@instructors.map {|i| [i.first_name, i.id]}), class:'select'%>

      <%= f.label :course_id, 'Course' %>
      <%= f.select :course_id, options_for_select(@courses.map {|c| [c.name, c.id]}), class:'select' %>
</div>
  <div class="row mx-auto">
    <div class="col-lg-12 mx-auto text-center py-1">
      <%=f.submit "Create Cohort", class:'btn secondButton' %>
    </div>

  </div>

<% end %>

</div>
