<div class="container-fluid">
  <div class="row">
    <div class="headingTitles mx-auto py-5">
      <h1>
        Create A New Active Cohort
      </h1>
    </div>
  </div>

  <%= form_for @active_cohort do |f| %>
  <div class="row text-center">
    <div class="col-lg-12 mx-auto py-5">
      <%= f.label :student_id, 'Student' %>
      <%= f.select :student_id, options_for_select(@students.map {|s| [s.first_name, s.id]}) %>

      <%= f.label :cohort_id, 'Cohort' %>
      <%= f.select :cohort_id, options_for_select(@cohorts.map {|c| [c.name, c.id]}) %>
      <%= f.label :instructor_id, 'Instructor' %>
      <%=f.select :instructor_id, options_for_select(@instructors.map {|i| [i.first_name, i.id]}) %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12 mx-auto text-center py-1">
      <%= f.submit 'Create Active Cohort', class:'btn secondButton'%>
    </div>
  </div>
<% end %>

</div>
