<div class="container-fluid">
  <div class="row mx-auto">
    <div class="col-lg-12 text-center py-3">
      <h2>Edit An Instructor's Information
      </h2>
    </div>
  </div>
  <%= form_for @instructor do |f| %>

  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class:'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class:'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= f.label :salary %>
      <%= f.text_field :salary, class:'form-control' %>
    </div>
  </div>

  <div class="row mx-auto py-2">
    <div class="col-lg-12 text-center">
      <%=f.submit "Update Instructor", class:'btn secondButton'%>
    </div>

  </div>
<% end %>
</div>
