<div class="container-fluid">
  <div class="row">
    <div class="headingTitles mx-auto">
      <h1>Create A New Instructor
      </h1>
    </div>
  </div>
  <%= form_for @instructor do |f| %>

  <div class="row">
    <div class="col-lg-6 mx-auto py-1">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class:'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto py-1">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class:'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mx-auto py-1">
      <%= f.label :salary %>
      <%= f.text_field :salary, class:'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto py-1">
      <%= f.label :highest_education %>
      <%= f.text_field :highest_education, class:'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto text-center py-1">
      <%=f.submit "Create Instructor", class:'btn secondButton' %>
    </div>

  </div>

<% end %>
</div>
