<div class="container-fluid">
  <div class="row mx-auto">
    <div class="col-lg-12 text-center py-3">
      <h2>Edit Course Information
      </h2>
      <%= form_for @course do |f| %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= f.label :name %>
      <%= f.text_field :name, class:'form-control' %>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= f.label :total_class_hours%>
      <%= f.text_field :total_class_hours, class:'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <%=f.submit "Update Course", class:'btn secondButton' %>
    </div>

  </div>

<% end %>

</div>
